<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>nearArrayNetworkAmple</key>
    <string>HandleFor</string>
    <key>tameWhite</key>
    <string>PaintExtensionLightTable</string>
    <key>processLightInstanceRemote</key>
    <string>ClearLayerSet</string>
    <key>mediatorQuick</key>
    <string>LedgerMineParseKeen</string>
</dict>
</plist>
