<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>listVentureTrainInitial</key>
    <string>EngineDetectFrom</string>
    <key>enableProtocolAzureCoral</key>
    <string>BuoyantCacheBrilliant</string>
    <key>toolRemoveTemple</key>
    <string>CoordinatorGroupPlushJovial</string>
    <key>agentSkilledCenter</key>
    <string>IvoryMixerCollection</string>
    <key>firmEngineMature</key>
    <string>FrostExtractElementProxy</string>
</dict>
</plist>
