<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>referenceOpalLogicalCancel</key>
    <string>DrawAccelerateEncode</string>
    <key>clearAlcoveCompatible</key>
    <string>DetectOceanOffMarsh</string>
    <key>woodProviderSmart</key>
    <string>ThroughLeafTulipSlide</string>
    <key>compatibleForSense</key>
    <string>DataSourceAbsoluteConfigImport</string>
    <key>builderWinsomeOver</key>
    <string>ViaBuilderHeroicPlaza</string>
    <key>transformableResume</key>
    <string>ThroughoutDiscreteStateAbove</string>
    <key>targetUpwardPlain</key>
    <string>ScriptSendPlaySandPetite</string>
</dict>
</plist>
