<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>harborInManager</key>
    <string>ImportLoadNeutralWild</string>
    <key>deliverKindred</key>
    <string>ResourceHumorStory</string>
    <key>sunnyFilterMacro</key>
    <string>SplendidUpwardMatch</string>
    <key>complexPauseFalls</key>
    <string>LuckyRunAccelerate</string>
    <key>brokerSyncChiefWinsome</key>
    <string>GroupStemLivelyClear</string>
    <key>importHolisticRate</key>
    <string>StrategyZephyrSlice</string>
    <key>provisionRemoveStack</key>
    <string>EasyImplementWithout</string>
    <key>waitJadeOwnerDebug</key>
    <string>CloudPetalEasy</string>
</dict>
</plist>
