<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formalExtension</key>
    <string>DuringExtractCancelOver</string>
    <key>havenInviting</key>
    <string>MoveResumeLineBoldParse</string>
    <key>trackCommand</key>
    <string>ImportTypeIntuitive</string>
    <key>commandYear</key>
    <string>UnityStrategyShowBuoyant</string>
    <key>standCrispHandler</key>
    <string>SearchTrackCompare</string>
    <key>reliablePathViaDelegate</key>
    <string>ProviderWillowBonny</string>
    <key>durableProtocolPack</key>
    <string>QuirkAlongsideAlongside</string>
    <key>channelLiberal</key>
    <string>TulipSolutionUpdateAccelerate</string>
</dict>
</plist>
