<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>youngProviderFind</key>
    <string>NearBundleShowAcross</string>
    <key>smoothLogicStack</key>
    <string>InsidePearlGlobalType</string>
    <key>pleasedHelper</key>
    <string>DrawHandleSend</string>
    <key>endChiefAzureState</key>
    <string>AppendGenuineSystematicPrimal</string>
    <key>connectControllerJovial</key>
    <string>TrustedProtocol</string>
    <key>protocolUntil</key>
    <string>TactfulNookAlongsideCompatibleCreator</string>
    <key>spiceFinishThenWary</key>
    <string>SegmentUrchinHeroicStay</string>
</dict>
</plist>
