<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>loaderHolyAnalyzeRegion</key>
    <string>MonitorDefinedView</string>
    <key>flatVirtuous</key>
    <string>AgainstOwnerForcefulRemote</string>
    <key>delegateInfiniteRainNear</key>
    <string>DynamicGetDeviceChasm</string>
    <key>betweenFilterDesertPlayful</key>
    <string>ProcessCreatorRunRequestPetal</string>
    <key>sageModuleFill</key>
    <string>QuirkSaveLaunch</string>
</dict>
</plist>
