<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>decodeSharpSessionManager</key>
    <string>IntoLeapSolidDisplay</string>
    <key>neutralThroughoutLane</key>
    <string>EnumByBuildAlcove</string>
    <key>outsideGenerous</key>
    <string>DialogCrossHeroicUnder</string>
</dict>
</plist>
