<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>observerPaintBlend</key>
    <string>VolumeEngineScriptEndless</string>
    <key>releasePowerExtensionFocused</key>
    <string>ToolRestoreSubmitWhisper</string>
    <key>freshValidatorIntoEminent</key>
    <string>RiverHideModuleModify</string>
    <key>providerMineSimple</key>
    <string>InterpreterPrairieMinimalDainty</string>
    <key>plainCollection</key>
    <string>RemoveJustDirect</string>
    <key>preciousOutsideList</key>
    <string>OverExecuteTune</string>
</dict>
</plist>
