<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>plainProviderDynamicPerform</key>
    <string>SessionSilentUnder</string>
    <key>controllerYield</key>
    <string>ReplaceAcuteDebugAlongside</string>
    <key>accelerateCache</key>
    <string>DecoratorGiftedTrainTarget</string>
    <key>handleManager</key>
    <string>ExactDuringTowardQuickPetal</string>
    <key>cleverAudioArrayLoad</key>
    <string>OfMemoryArray</string>
    <key>thoroughStackAddCompatible</key>
    <string>MediatorExtractAppend</string>
    <key>toolProvider</key>
    <string>InterpreterDrawHeaderLoader</string>
    <key>graveEndFree</key>
    <string>PlushVividOpen</string>
    <key>printLoader</key>
    <string>AbsoluteUpwardTerrain</string>
</dict>
</plist>
