<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>defineVia</key>
    <string>AdaptiveShowFaithfulExecute</string>
    <key>groupDecentTryGreat</key>
    <string>ReleaseAgainstGateUtility</string>
    <key>quintessentialDeserializer</key>
    <string>SilentConvertProxyPlush</string>
    <key>validatorMomentFromSkilled</key>
    <string>MessageRoundDaintyViaCompact</string>
    <key>growingModifyDispatcher</key>
    <string>ReservoirControllerKeenCliff</string>
    <key>unitBuildDefine</key>
    <string>TransformCalmLog</string>
    <key>protectType</key>
    <string>ManagerMergeProvider</string>
    <key>compositeAbove</key>
    <string>WorkPeakAppend</string>
    <key>engineTrusty</key>
    <string>HandlerSaveVivid</string>
    <key>loaderWatch</key>
    <string>ReleaseDefinedVenture</string>
</dict>
</plist>
