<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>executeProperBraveFormatter</key>
    <string>AccurateSubmitWood</string>
    <key>enumSafe</key>
    <string>AcceptHandleIslandOf</string>
    <key>overMild</key>
    <string>CenterPlayfulDrop</string>
    <key>ultimateWellList</key>
    <string>WittyCommandBrokerDainty</string>
    <key>handlerSubmitKnack</key>
    <string>SeaSplashRestore</string>
    <key>cairnWise</key>
    <string>TrailIntuitiveInterpreter</string>
    <key>pushSweetGuide</key>
    <string>RealmCommandValid</string>
</dict>
</plist>
