<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>upwardProxyTargetExtract</key>
    <string>DialogWaitAgainstUpdate</string>
    <key>aroundCoolStrikeArray</key>
    <string>ValidatorPaintSelfRecord</string>
    <key>thenEarth</key>
    <string>DefineEntryDebugRelief</string>
    <key>moduleAssignWeb</key>
    <string>LogicalUpSerializerHeroic</string>
    <key>filterVividCompare</key>
    <string>ErrorPrivateModuleQueue</string>
</dict>
</plist>
