<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>runUrbane</key>
    <string>FreshDaleJungle</string>
    <key>petiteDetectArrayLucky</key>
    <string>TrackLayerFactory</string>
    <key>wirelessBaseChief</key>
    <string>KnownSerializerZealousNotable</string>
    <key>qualityTo</key>
    <string>LandscapeCoherentBlend</string>
    <key>agentError</key>
    <string>CacheAcceptZealousSite</string>
    <key>compatibleResponseGreat</key>
    <string>LogOverIslandBlithe</string>
    <key>buoyantDispatcherClear</key>
    <string>MessageAppendBuilder</string>
</dict>
</plist>
