<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatInterpreter</key>
    <string>AcrossImageDistinct</string>
    <key>processCompatiblePristineHardy</key>
    <string>BasinTerseFocus</string>
    <key>flashInsert</key>
    <string>SilentLegacyBefore</string>
    <key>stableSolid</key>
    <string>CleanRetreatElite</string>
    <key>viableImplement</key>
    <string>OverEngineDirectTarget</string>
    <key>setOutputFeasibleImplement</key>
    <string>TunnelBesideToolOnGreen</string>
    <key>intoToolWillowHardy</key>
    <string>MediatorSafeOpen</string>
    <key>delegateUrchinAccurateWith</key>
    <string>SecurePlayPage</string>
</dict>
</plist>
