<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rateBuild</key>
    <string>GoodFilterIntoGenerous</string>
    <key>delicateLoadBaseBirch</key>
    <string>LargeToVoice</string>
    <key>scanObviousEnum</key>
    <string>ZenithBuilderDownFill</string>
    <key>checkProtocol</key>
    <string>ValuableLiberalFetch</string>
    <key>beaconCacheJudiciousApply</key>
    <string>AcrossTameStationEnable</string>
    <key>interpreterBareYewGet</key>
    <string>CacheLoadFilterInitialize</string>
    <key>withinDainty</key>
    <string>DomeDefineBlithe</string>
    <key>verifyKeen</key>
    <string>WithoutInterpreterUnitySharp</string>
</dict>
</plist>
