<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>warmBareForMediator</key>
    <string>AlongHideSolidSaver</string>
    <key>audioWithinBrokerMeasured</key>
    <string>CalculateTriumphQuery</string>
    <key>duskBind</key>
    <string>FetchDirectTuneSaveHonest</string>
    <key>domainUntilDainty</key>
    <string>PlayBrowserDispatcherPlatform</string>
    <key>containerExtractPassiveAgent</key>
    <string>ProtocolDramaticTransform</string>
</dict>
</plist>
