<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>canyonRefreshAdvancedContainer</key>
    <string>EncodeExportTryRound</string>
    <key>firmUntil</key>
    <string>BetweenPleasedStateHelper</string>
    <key>nearAdapter</key>
    <string>ObserverListTrusted</string>
    <key>objectHandlerEndless</key>
    <string>RetreatEminentPlayfulPure</string>
    <key>beyondJoyful</key>
    <string>CacheFitBehindFormatter</string>
    <key>journeyHandleDark</key>
    <string>WarmFetch</string>
    <key>magnetUpdate</key>
    <string>QuickCacheBright</string>
    <key>layoutResumeLean</key>
    <string>DirectHideOnWith</string>
</dict>
</plist>
