<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>defineCairnAppend</key>
    <string>DecodeThornRun</string>
    <key>alongPristine</key>
    <string>ShadowRemoveCompactLoader</string>
    <key>gentlePleasedFormat</key>
    <string>ReliableConnectAt</string>
    <key>moveSereneRadiant</key>
    <string>SolidAboveProxySerene</string>
    <key>modelPortal</key>
    <string>ThoroughGenericPlainRegion</string>
    <key>implementWithinBaseTender</key>
    <string>SecurePrintFirth</string>
    <key>storeInstanceFactoryMobile</key>
    <string>SimpleAlongTagValuable</string>
</dict>
</plist>
