<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>moveSourceThenVigorous</key>
    <string>HelperAlertTowerGet</string>
    <key>desertFactoryCancel</key>
    <string>TestAlertGlobeDrop</string>
    <key>loadHeaven</key>
    <string>RiverBaseRun</string>
    <key>exportDecentDeliver</key>
    <string>NorthInstanceSound</string>
    <key>looseCrystalStackMake</key>
    <string>BoldYearFormatterLasting</string>
    <key>throughMineHelper</key>
    <string>AddDataAgainstWhole</string>
    <key>chiefReference</key>
    <string>WisdomPromiseIvoryWhite</string>
    <key>radarGreenLoader</key>
    <string>ManagerPrimeGatewayAdaptive</string>
</dict>
</plist>
