<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>smartMap</key>
    <string>DeepWaveAdapterGenuine</string>
    <key>poolOverAttach</key>
    <string>QuillTone</string>
    <key>stayClass</key>
    <string>AssignFixEqual</string>
    <key>collectionFreshVesselOff</key>
    <string>EngineUponLaunch</string>
</dict>
</plist>
