<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sereneZoneExtractEnum</key>
    <string>DownHoneyRunPrint</string>
    <key>behindList</key>
    <string>RunViewPositionImplement</string>
    <key>interpreterSliceInitialize</key>
    <string>ProcessApplyLuckyBefore</string>
    <key>collectionModify</key>
    <string>WaitTryRegisterKind</string>
    <key>serializerBeyondText</key>
    <string>SelfInMapLeaf</string>
    <key>stackSpot</key>
    <string>IndexDaintySuperTag</string>
    <key>dataMediator</key>
    <string>StoryShowVoyage</string>
</dict>
</plist>
