<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>throughoutDarkFlat</key>
    <string>QueueSyncToolMature</string>
    <key>validatorLockCache</key>
    <string>RemoteDecodeFetchCheckSearch</string>
    <key>idealPool</key>
    <string>TestSearchWithout</string>
    <key>daleOriginalTarget</key>
    <string>TrustUnderExpertWait</string>
</dict>
</plist>
