<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>novelVerifyTemple</key>
    <string>EncodeMomentLeanPack</string>
    <key>liberalShareReceive</key>
    <string>FastUntilPlainTense</string>
    <key>pureMakeEnumObvious</key>
    <string>HideAmpleStepFaint</string>
    <key>releaseSystemPleased</key>
    <string>BuilderBeyondDown</string>
    <key>upwardBuilderNovelBuild</key>
    <string>ScaleCommandAttach</string>
</dict>
</plist>
