<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>feasibleParse</key>
    <string>FetchOffSetLuckyPhoenix</string>
    <key>getTheory</key>
    <string>TrustyHumorHandler</string>
    <key>fondStructureRemoveProxy</key>
    <string>HarborDominantVerifyRing</string>
    <key>deserializerTryIdealShore</key>
    <string>GiftedEnableContainerEnable</string>
    <key>makeReferenceShellWarm</key>
    <string>DashboardPaintSortStair</string>
    <key>adapterWithin</key>
    <string>StripeModuleState</string>
</dict>
</plist>
