<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rowPrintExactArray</key>
    <string>MagicRusticJewelOff</string>
    <key>unityAdapterBrightContinue</key>
    <string>EnumTowardSignal</string>
    <key>upMineSystematic</key>
    <string>DialogModelListenerChief</string>
    <key>idleBetween</key>
    <string>EngineSceneHandlerImprovedElm</string>
    <key>facadeSimpleOdd</key>
    <string>DesertYieldingKeyMove</string>
</dict>
</plist>
