<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>protocolStore</key>
    <string>ParseLoaderPauseEqual</string>
    <key>interpreterRead</key>
    <string>AmidClassTwistSpot</string>
    <key>improvedArrayWatchExport</key>
    <string>ReturnSymbol</string>
</dict>
</plist>
