<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>urbanEncodeCoordinator</key>
    <string>FirmWholeAbstractAccept</string>
    <key>purePool</key>
    <string>ProviderProtocolMuseSave</string>
    <key>manageHonestVisitorPack</key>
    <string>ExecuteBrokerChief</string>
    <key>resetGreenFacade</key>
    <string>SelfMarkSave</string>
    <key>songTrueWriteHelper</key>
    <string>HandyAustereBambooExactBind</string>
    <key>decisiveDown</key>
    <string>TagSenseSyncGraph</string>
    <key>makeCavernBuilder</key>
    <string>MakeProvisionColumnReportRun</string>
    <key>facadeBeneath</key>
    <string>DryFlashAlcoveStackPackage</string>
    <key>insideHarmony</key>
    <string>FacadeGrowingInstance</string>
</dict>
</plist>
