<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>thornTransformableHonest</key>
    <string>SimpleAt</string>
    <key>directDefinedAdapterOnto</key>
    <string>WriteInterpreterSunnyLively</string>
    <key>transformableDraw</key>
    <string>MightyHeathWithinEqual</string>
    <key>brainImplementUpward</key>
    <string>TameJustFill</string>
    <key>factoryInTwistUnique</key>
    <string>RemoveUrbaneContainer</string>
    <key>freshFilterHold</key>
    <string>RichMergeTurnCache</string>
    <key>managerMain</key>
    <string>CloudBelow</string>
</dict>
</plist>
