<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>webForCreatorRustic</key>
    <string>GladSpriteStretchPrimal</string>
    <key>deserializerDirect</key>
    <string>FreeScan</string>
    <key>controllerLoadWindowThorough</key>
    <string>RiverTestHealthy</string>
</dict>
</plist>
