<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shareWealthy</key>
    <string>ReturnDense</string>
    <key>toolCompare</key>
    <string>ApplyCloseRefresh</string>
    <key>openType</key>
    <string>PureFeasibleThenFree</string>
</dict>
</plist>
