<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>summitEnumLoadBright</key>
    <string>PositiveRegionAtlasThorough</string>
    <key>kiteCompatibleAuthenticAbove</key>
    <string>ProxyResetApplyProxy</string>
    <key>warmOnyx</key>
    <string>VisitorFindLuckyWait</string>
</dict>
</plist>
