<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beginRavenCleverOwner</key>
    <string>SimpleHistoryCompatible</string>
    <key>localLegacyStop</key>
    <string>DecodeEnableLandscapeTheory</string>
    <key>rusticLog</key>
    <string>RequestStartBelow</string>
    <key>lawfulCloseFlowCache</key>
    <string>CascadeListSyncEstuaryIn</string>
    <key>onLedgerTame</key>
    <string>StormZenithReport</string>
    <key>objectStrategy</key>
    <string>ForestThroughTarget</string>
    <key>zephyrSound</key>
    <string>TransformGrandByAt</string>
    <key>plainTestProxy</key>
    <string>CalculateLoadProviderInterpreter</string>
    <key>listWhisperAt</key>
    <string>MoveGlobalDeliver</string>
</dict>
</plist>
