<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>registerBelowBold</key>
    <string>OverOutsideAt</string>
    <key>promptWorthyPoolCache</key>
    <string>ZephyrDataSourceTacticModalThorough</string>
    <key>withinGraveMelodyCompatible</key>
    <string>WaitThenSwiftUpdate</string>
    <key>initializeBroker</key>
    <string>ReflectResourceOf</string>
</dict>
</plist>
