<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>portalFilterLock</key>
    <string>FormatModel</string>
    <key>formatDynamicLarge</key>
    <string>LayerAfterImplement</string>
    <key>ventureExtensionStern</key>
    <string>HeaderForestUpon</string>
    <key>cliffHelper</key>
    <string>BesideProviderHumor</string>
    <key>processTool</key>
    <string>BadgeLuminousTempleController</string>
</dict>
</plist>
