<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>feasibleSound</key>
    <string>TribeFormatterModern</string>
    <key>downSaver</key>
    <string>ViewNorthFrom</string>
    <key>tenderPlugin</key>
    <string>LoadStoreData</string>
    <key>withoutHelper</key>
    <string>SiteFindSupremeCollection</string>
    <key>gentleDuneStrategyLoad</key>
    <string>RidgeSoftYoungDense</string>
    <key>primeDrawStateStripe</key>
    <string>PeakFormatAroundBeneath</string>
</dict>
</plist>
