<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>recordStackMobileStay</key>
    <string>DiscreteImportMakeContainer</string>
    <key>dropUnusual</key>
    <string>CommandControllerTry</string>
    <key>moveLocalWater</key>
    <string>ToAtZippyManager</string>
    <key>printClassicHelperMedia</key>
    <string>GentleHeaderFilter</string>
</dict>
</plist>
