<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>withoutFlora</key>
    <string>HavenOnBold</string>
    <key>decoratorEstuaryHappySave</key>
    <string>StretchOrchardStableRow</string>
    <key>sendWindowDataSourceProper</key>
    <string>FromAmpleAccountSystemFormal</string>
    <key>fieldLivelyFillController</key>
    <string>ModeProxyCreekRoyal</string>
    <key>formatterAcrossBonny</key>
    <string>DrawHolisticLockModel</string>
</dict>
</plist>
