<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modifyFormatterSoft</key>
    <string>PleasedAcrossDecode</string>
    <key>forwardClassicFilter</key>
    <string>DaintyRoyalRegistryLoose</string>
    <key>moduleDecorator</key>
    <string>InfinityStatePlayfulCodec</string>
    <key>viableFindSpokeObserver</key>
    <string>TowardHelperPrismSystem</string>
    <key>byAlert</key>
    <string>ModelPushMainImport</string>
    <key>dataSourceReadContextNear</key>
    <string>PlayIntimateOpenRefreshAssign</string>
    <key>protocolOakenFormal</key>
    <string>ValidIntoMatch</string>
    <key>naturalContainer</key>
    <string>WayBadgeProcessView</string>
    <key>filterCoolWarmPerform</key>
    <string>CommandTowardPrint</string>
</dict>
</plist>
