<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>convertHappy</key>
    <string>AddTempleAnalyze</string>
    <key>directLoaderAfterLand</key>
    <string>TrackOfWingEnumWild</string>
    <key>dataSourceCloseAdvancedTorch</key>
    <string>PetitePushHandler</string>
    <key>stateDark</key>
    <string>CacheWorldType</string>
    <key>executeDecoratorRest</key>
    <string>SourceMysticVenture</string>
    <key>classHumaneSendTreasure</key>
    <string>CalculateEntryStay</string>
    <key>merryGenericOfAdapter</key>
    <string>FormatJadeBeneathStem</string>
    <key>rusticSelectInfinityDispatcher</key>
    <string>PeacefulClearDriver</string>
    <key>applyFactory</key>
    <string>LockShowHarmonic</string>
</dict>
</plist>
