<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compareSplendid</key>
    <string>AccelerateOverTowerWirelessStone</string>
    <key>originalBeneathPortraitDelegate</key>
    <string>DaleImplementCanyonWarm</string>
    <key>pineMainLoad</key>
    <string>VerifyHaze</string>
    <key>triggerClean</key>
    <string>FactoryHavenHandleControl</string>
    <key>flameHumble</key>
    <string>GiganticAmong</string>
    <key>encodeProtect</key>
    <string>ViaCommandKite</string>
</dict>
</plist>
