<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>definedView</key>
    <string>DaleTowardVocalComplexDivine</string>
    <key>beginHandleOwner</key>
    <string>HelperTrackDecisiveAgent</string>
    <key>inletQuick</key>
    <string>BridgeProviderThemeFaint</string>
    <key>rareWaitFlowFactory</key>
    <string>ModernPrint</string>
    <key>fitDropBroker</key>
    <string>ForceHandlerRoundPause</string>
</dict>
</plist>
