<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pureCommand</key>
    <string>UrbaneApplySplitCollectionProxy</string>
    <key>wholeVisitorGenerateBundle</key>
    <string>CreativeAroundHostDefine</string>
    <key>graveSequenceReferenceUp</key>
    <string>SubtleAlongToward</string>
    <key>amidScrollDefine</key>
    <string>SuperSteadyUrban</string>
</dict>
</plist>
