<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>validatorRoyalProudPause</key>
    <string>ImportSplashSkillModest</string>
    <key>blendBetweenHandlerBrief</key>
    <string>AngleStateScroll</string>
    <key>ofStackJoyful</key>
    <string>FixUpwardDisplayCascade</string>
</dict>
</plist>
