<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>returnQueryType</key>
    <string>BeyondEnumOrchardHelperSerializer</string>
    <key>executeBuilderLayerTiny</key>
    <string>TeamModuleDecentProfile</string>
    <key>viewWaterLog</key>
    <string>DetectPrintTrackThen</string>
    <key>verifyFlow</key>
    <string>PurePrecious</string>
</dict>
</plist>
