<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sortFairyHeader</key>
    <string>CheckBriskImprovedBright</string>
    <key>humaneViaHelperWillow</key>
    <string>ChartSelfCodecWholeExtension</string>
    <key>elementWaryEnum</key>
    <string>PauseWhiteRoundRugged</string>
    <key>saverComposite</key>
    <string>LooseRefreshDynamicSummit</string>
    <key>glacierInto</key>
    <string>DatabaseAdapterSerializer</string>
    <key>properProxyPastAbsolute</key>
    <string>StrongDispatcherMultiplyEarnest</string>
    <key>spiritViewTrueEnable</key>
    <string>FastObserverFile</string>
</dict>
</plist>
