<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>audioZippyOpenHelper</key>
    <string>FriendlyPrimeVerse</string>
    <key>havenStopGroup</key>
    <string>TargetProviderDelegateMatrix</string>
    <key>facadeTinyDraw</key>
    <string>ShadeVineReturn</string>
</dict>
</plist>
