<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>overSecurePeacefulTool</key>
    <string>EnumMatchVerify</string>
    <key>acrossGenuineSerializer</key>
    <string>BetweenObjectRegisterInfinityThroughout</string>
</dict>
</plist>
