<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>framePush</key>
    <string>AcceptYieldRoyalExtension</string>
    <key>loaderDurableTerse</key>
    <string>DataSourceBelowProviderMerry</string>
    <key>sweetImplementVerify</key>
    <string>VisitorGreenVisitor</string>
    <key>visibleBetween</key>
    <string>BoundCacheCompatible</string>
    <key>dataSourceRemoveToneKeen</key>
    <string>TrustyLockIvoryReset</string>
    <key>zenithSimpleInsert</key>
    <string>ReservoirFilterParse</string>
    <key>accessReturn</key>
    <string>HeightConvertHold</string>
</dict>
</plist>
