<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>viaCoolTag</key>
    <string>ListTempleVoiceOpal</string>
    <key>ultimateBroker</key>
    <string>WillowIntense</string>
    <key>viewDecent</key>
    <string>ExtraAmpleCoolEminent</string>
    <key>secureDeserializerIntuitive</key>
    <string>FontEndHeader</string>
    <key>gladThornLoaderAdd</key>
    <string>LineMarkHide</string>
    <key>windowNobleContainer</key>
    <string>TransitFieldFilter</string>
    <key>amongPlanetNobleLoader</key>
    <string>CommandDebugWaterLively</string>
    <key>celestialFormatterExtract</key>
    <string>AroundSilentHelix</string>
</dict>
</plist>
