<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>threatSubtle</key>
    <string>WallStateUnusual</string>
    <key>encodeAdvanced</key>
    <string>HandlerImportMightSense</string>
    <key>transformableCalculate</key>
    <string>TheoryProviderFastSend</string>
    <key>elegantSerializer</key>
    <string>WatchBoardFilter</string>
    <key>thoroughWishToolSend</key>
    <string>FetchBindRecordInstance</string>
    <key>stoneWatchCoordinator</key>
    <string>FromNearFrameSyncBetween</string>
</dict>
</plist>
