<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>agentPristine</key>
    <string>LogicThroughLogicSourceOnto</string>
    <key>yearTypeOutsideGrowing</key>
    <string>CompactApplyPhoenix</string>
    <key>ledgerPrecious</key>
    <string>RidgeAbundantBetweenLoadLink</string>
    <key>dataSourceSort</key>
    <string>BonnyHandleRegistryPrint</string>
    <key>invitingPool</key>
    <string>ControllerPerformSuperVia</string>
    <key>friendlyLayer</key>
    <string>IdleFirmValuableFormatterView</string>
</dict>
</plist>
