<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>properProtocol</key>
    <string>AccurateValleyFactoryCommand</string>
    <key>idleFilter</key>
    <string>PrintJewelClientState</string>
    <key>sortJudiciousTimeInterpreter</key>
    <string>ExactWithSendBetweenDisplay</string>
    <key>styleGentleViewDebug</key>
    <string>UpwardNeatDelta</string>
    <key>supplyCompatiblePrint</key>
    <string>CoralFlatDuring</string>
    <key>exportExquisiteUpdate</key>
    <string>MeasuredMatchViewRow</string>
</dict>
</plist>
