<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>looseBy</key>
    <string>OfJourneyVast</string>
    <key>fancyBehindCryptCommand</key>
    <string>DaintyQuickRobust</string>
    <key>arrayOptimal</key>
    <string>BaseDebugBackupEnum</string>
    <key>modernPauseJustStack</key>
    <string>BuilderNearPerform</string>
    <key>ownerRunTense</key>
    <string>PacificDrawDistinct</string>
    <key>joyfulContainerReset</key>
    <string>ModelPlayAcceptEngine</string>
    <key>classFrom</key>
    <string>YoungAnalyzeDuskDuring</string>
    <key>luckyAt</key>
    <string>FirthFeatureMatch</string>
    <key>lockNeutralClassScript</key>
    <string>RemovePluginModel</string>
    <key>tulipDuringArrayAdept</key>
    <string>WittyBehindMacro</string>
</dict>
</plist>
