<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>saverLasting</key>
    <string>ViableSubmitUntilSort</string>
    <key>utilityModestBetweenExtension</key>
    <string>AccelerateProtocolPosition</string>
    <key>passiveFormatter</key>
    <string>ControllerInvitingAmongCairn</string>
    <key>basicWhisper</key>
    <string>TranquilCheckStore</string>
    <key>hideSpeak</key>
    <string>DefineHandleGetBlithe</string>
    <key>vocalCloseSummit</key>
    <string>ZephyrRangeResume</string>
</dict>
</plist>
