<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>upgradeDefineDuring</key>
    <string>ConvertPeakExtraBehind</string>
    <key>stateGiganticCalmLoad</key>
    <string>RegisterViaDevice</string>
    <key>songIntuitive</key>
    <string>SyncGenerateTextFairy</string>
    <key>looseFilterShare</key>
    <string>SerializerFormatUpward</string>
    <key>instanceSelect</key>
    <string>OverIdleFinishZone</string>
</dict>
</plist>
