<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>refinedCoordinatorCounterIn</key>
    <string>BonnyElmStateBrisk</string>
    <key>ofThoroughThorn</key>
    <string>LotusBareClear</string>
    <key>containerPrairieHumbleBefore</key>
    <string>SplendidSerene</string>
    <key>melodyIdealHeader</key>
    <string>WoodMatchMove</string>
    <key>roundStrategy</key>
    <string>FairyAdapterDropLotusStore</string>
    <key>heavenCheck</key>
    <string>InsertBaseMethodWinter</string>
    <key>walkHeader</key>
    <string>AnalyzeThenRun</string>
    <key>fastCollection</key>
    <string>OfWithoutPlayfulType</string>
</dict>
</plist>
