<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pluginClean</key>
    <string>MapStepPacificIdeal</string>
    <key>modelSendWillowDramatic</key>
    <string>BridgeFileVisible</string>
    <key>victoriousSphereContainer</key>
    <string>DeliverResumeRadarFinish</string>
    <key>portraitAppendTenderHandler</key>
    <string>CleverSeaSubtle</string>
    <key>dashboardTestFactory</key>
    <string>WithoutVisitorSeaUnity</string>
    <key>accelerateOwnerEthereal</key>
    <string>SwirlWrite</string>
    <key>startPlayfulPage</key>
    <string>ExtractListSpoke</string>
    <key>compatibleMatrixQuintessentialClear</key>
    <string>DashboardPositiveEnable</string>
    <key>hideTransformableMap</key>
    <string>ThornVisionCoolWanderAgent</string>
    <key>rainZestfulValidator</key>
    <string>FirmUnityDisplaySolar</string>
</dict>
</plist>
