<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>secureTamePack</key>
    <string>ProviderToFinishSync</string>
    <key>modalTrainFetchHandler</key>
    <string>SendOverTransformable</string>
    <key>tenseBind</key>
    <string>CollectionHillKeenAdd</string>
    <key>duringDecorator</key>
    <string>UniversalCompareChief</string>
    <key>makeSelfWireless</key>
    <string>FillSoft</string>
    <key>thornReference</key>
    <string>RemoveScriptImplement</string>
</dict>
</plist>
