<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>creatorDuringOriginal</key>
    <string>JustDebugGlacier</string>
    <key>grandShowFilter</key>
    <string>AppendClearTypeSessionEngine</string>
    <key>fixControllerObserverWorthy</key>
    <string>CompatibleVerifyRest</string>
    <key>buildForce</key>
    <string>RowTunnelForFinishCalm</string>
    <key>acrossBroadStatePrompt</key>
    <string>WealthyOffDetectCompatible</string>
    <key>sourceYoungDeliver</key>
    <string>ExtractOwnerNatureModule</string>
</dict>
</plist>
