<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>daintyAboveVoiceDeserializer</key>
    <string>TimerPassiveVectorMethod</string>
    <key>debugOriginalSphere</key>
    <string>WayCodecOutsideMatch</string>
    <key>serializerWoodAfterTimely</key>
    <string>ManagerCheckGenerateQueueGuide</string>
    <key>responseExtension</key>
    <string>WindMapModel</string>
    <key>submitSageFriendly</key>
    <string>AlongsideHeightHandler</string>
</dict>
</plist>
