<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>domainCivicDeserializerPush</key>
    <string>ResumeUltimateResume</string>
    <key>testIntenseDispatcher</key>
    <string>AroundAfterInterpreterReceive</string>
    <key>infiniteStrategy</key>
    <string>BonnyAccountOriginalUntil</string>
    <key>graveConnectAlert</key>
    <string>SoftBelowStack</string>
    <key>skilledQuillBrokerWithout</key>
    <string>HonestAccelerateCompactDiamond</string>
    <key>providerEnergetic</key>
    <string>EnumOwlPause</string>
</dict>
</plist>
