<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>controllerProperContentOf</key>
    <string>AgileDiamondDisplayNovelCrisp</string>
    <key>mediatorAccelerate</key>
    <string>DecentRow</string>
    <key>measuredPetalSet</key>
    <string>FactoryAlongsideHeaderSweet</string>
    <key>snowSaver</key>
    <string>ChasmDurableCrystalStop</string>
    <key>validateFormatter</key>
    <string>JunctionBlockPush</string>
    <key>saverStop</key>
    <string>FormatterFontMain</string>
</dict>
</plist>
