<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>builderOwl</key>
    <string>ShowMapSolid</string>
    <key>nobleValidate</key>
    <string>DataSourcePastSave</string>
    <key>viewSelectZenithDistant</key>
    <string>BrokerDigitalBuildStrong</string>
    <key>beneathBroker</key>
    <string>RemoveClearHeroic</string>
    <key>profileSleekDispatcher</key>
    <string>HavenTenseVolumeTame</string>
    <key>quietAtCreatorCoder</key>
    <string>HandlePanelUpon</string>
    <key>acrossObserverIdealWind</key>
    <string>UponDeserializerFinishStairDramatic</string>
    <key>trustedTypeMerge</key>
    <string>AmberCollectionTestDataSource</string>
    <key>modelDownExpert</key>
    <string>SternShoreAddAustere</string>
</dict>
</plist>
