<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>crownDramaticAssign</key>
    <string>RangePageAccelerate</string>
    <key>basicGroup</key>
    <string>EarthViaVocalHelper</string>
    <key>factoryReleaseHardyAbundant</key>
    <string>RetreatCompareWithVapor</string>
    <key>neatDeliver</key>
    <string>ManageExportExecuteHub</string>
    <key>analyzeChatVast</key>
    <string>FillDirectToolInitial</string>
    <key>delegateFind</key>
    <string>StatusSceneGenerate</string>
    <key>endSacred</key>
    <string>FetchTableDuring</string>
</dict>
</plist>
