<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>builderManifestYoung</key>
    <string>AmongTransformablePositiveRound</string>
    <key>hastyViewLaunchIntense</key>
    <string>HelperMixerElmMap</string>
    <key>logicThick</key>
    <string>ControllerOfForAround</string>
    <key>compactFacadeValuable</key>
    <string>EndDuskLuminousReport</string>
    <key>generousBonnyResetCollection</key>
    <string>ExecuteTeamAnalyze</string>
</dict>
</plist>
