<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>valuableVisitor</key>
    <string>EnumToAlongside</string>
    <key>warmBrain</key>
    <string>ShapeDropListEnum</string>
    <key>balancedContinue</key>
    <string>KeenAboveShellMediator</string>
    <key>waitHelper</key>
    <string>StoreTheoryPaintBadge</string>
    <key>compatibleRoyal</key>
    <string>FindHelperImportStack</string>
    <key>lucentRunList</key>
    <string>RunSparkAccelerateHarmony</string>
    <key>defineJadeUpdate</key>
    <string>PacificTrustyAlongLoader</string>
    <key>loaderReplaceVivid</key>
    <string>ModuleThenController</string>
</dict>
</plist>
