<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>filterKineticReturnSkill</key>
    <string>CompatibleAlongPassive</string>
    <key>serializerKindredDeliver</key>
    <string>KindredInletTrustedAlcove</string>
    <key>acceptStrategyWoodSolid</key>
    <string>ReadSkillExecuteOff</string>
</dict>
</plist>
