<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>registryCentral</key>
    <string>CheckWithinCalculate</string>
    <key>detectTheory</key>
    <string>StackBeyondProtectSelect</string>
    <key>thinToolAmid</key>
    <string>JasperIsletBelowHelper</string>
    <key>delicateTrackMixer</key>
    <string>HandlerResponseRunExecute</string>
    <key>primeSwirlCreator</key>
    <string>DaintyConsoleIvory</string>
    <key>unityDefineDecentDetect</key>
    <string>BrokerBrokerRidgeSpring</string>
    <key>sweetViewBelow</key>
    <string>OutsideWisdomThorn</string>
</dict>
</plist>
