<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pureDelegateAdvanced</key>
    <string>SoftBoldInitialOwner</string>
    <key>formatVisitor</key>
    <string>NearReceiveIsland</string>
    <key>whisperRemove</key>
    <string>TimerJustDeserializer</string>
    <key>mountainOuter</key>
    <string>WirelessWorkTrueView</string>
    <key>vitalLoaderPackFalls</key>
    <string>WaitPassageDusk</string>
</dict>
</plist>
