<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stateStemCalculate</key>
    <string>RareVerifyService</string>
    <key>intenseFormal</key>
    <string>SaverSkilledReferenceSaver</string>
    <key>stateVocal</key>
    <string>CacheIdleStoreDainty</string>
    <key>imageOpenUrbane</key>
    <string>InterpreterStringFairOffsetUnit</string>
    <key>withoutVisitor</key>
    <string>DatabaseSupremeScan</string>
    <key>honestOutsidePool</key>
    <string>GloriousSaverBasic</string>
</dict>
</plist>
