<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>harmonicHarborResumeVisitor</key>
    <string>DecisiveOffHandsome</string>
    <key>nearToolUrbanList</key>
    <string>StartReturnWait</string>
    <key>yieldUpdateUnity</key>
    <string>MapDrawClearController</string>
    <key>loaderState</key>
    <string>InletPerformStackHumane</string>
    <key>adapterWithoutCivicRegister</key>
    <string>RegionNobleChief</string>
    <key>fetchFilter</key>
    <string>FetchOutsideValueThin</string>
    <key>fixUpdateDiscrete</key>
    <string>MightThen</string>
</dict>
</plist>
