<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>collectionAppendHillGlorious</key>
    <string>RadiantBelowLuminousState</string>
    <key>paintMysticCarefulPool</key>
    <string>ResourceTempleMatchSave</string>
    <key>acuteTulipDispatcherOnto</key>
    <string>SelectDownRationalKnown</string>
    <key>balancedEngineWithout</key>
    <string>EmberBesideExtensionExtension</string>
    <key>shareProtocolInviting</key>
    <string>ModuleShellSet</string>
    <key>listAccurate</key>
    <string>BrokerExportTool</string>
    <key>oasisBy</key>
    <string>CacheOrnateBasic</string>
</dict>
</plist>
