<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>basicStrategyDusk</key>
    <string>CleanGlobalSpring</string>
    <key>smartCarefulBuilder</key>
    <string>ImportOpenMoveFix</string>
    <key>yewHandlerFillComposite</key>
    <string>ReleaseUpwardEnergetic</string>
    <key>modelStyle</key>
    <string>ApplyQuietMessageAmid</string>
    <key>underTypeUltimate</key>
    <string>DefineYardDry</string>
</dict>
</plist>
