<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>saverLibrary</key>
    <string>VerifyAtCloseRead</string>
    <key>helixBroker</key>
    <string>CarefulSourceSelectUpon</string>
    <key>jewelPauseComplexVisitor</key>
    <string>UponCreatorUntil</string>
    <key>discreteFillRuggedSaver</key>
    <string>HandleHiveSelect</string>
</dict>
</plist>
