<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>justBuildBase</key>
    <string>WatchSortValidator</string>
    <key>saverGlobePastOptimal</key>
    <string>AlongsideToolGroup</string>
    <key>commandValidateTimely</key>
    <string>DeltaFacadeCloudList</string>
    <key>strategyBuoyantChart</key>
    <string>SyncEmberBindGenerate</string>
</dict>
</plist>
