<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compatibleBridgeGenerateGrave</key>
    <string>ControllerModifyAppend</string>
    <key>betweenStackRelayYielding</key>
    <string>MildCacheCleanZestful</string>
    <key>alongGraveProtocol</key>
    <string>TablePackTransformablePack</string>
    <key>facadePristineSearch</key>
    <string>MoveGroveController</string>
</dict>
</plist>
