<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>recordPlayful</key>
    <string>ClassicWithinGlade</string>
    <key>protocolAccurateCrownInitialize</key>
    <string>SyncRoyalGiganticSyncIntimate</string>
    <key>wellStrategyHappyOnto</key>
    <string>ScopeFileConfigRadiantTerse</string>
    <key>wellAuthentic</key>
    <string>BrilliantControllerView</string>
</dict>
</plist>
