<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>intoHelperLeap</key>
    <string>CleanFromAmong</string>
    <key>betweenVitalBreakAdapter</key>
    <string>ImageWaitRoyal</string>
    <key>adapterTool</key>
    <string>AfterMarkPastStart</string>
    <key>divineSpriteStore</key>
    <string>SnowDomainPoolModuleDeep</string>
    <key>byMajorCommand</key>
    <string>GentleFacadeStay</string>
    <key>checkYieldingPoolStatus</key>
    <string>BrilliantCollectionAnalyzeAssignDirect</string>
    <key>exactDropHandler</key>
    <string>GenuinePoolSourceBonny</string>
</dict>
</plist>
