<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>splashNeutralFor</key>
    <string>LeanBonnyRunInsight</string>
    <key>heavenRestore</key>
    <string>CanvasDecoderRestFrom</string>
    <key>flukeAround</key>
    <string>SaveForceProtocolController</string>
    <key>alongsideModalPlace</key>
    <string>ModifyProtocolWealthLoose</string>
    <key>coherentCavern</key>
    <string>CoherentTextLoad</string>
</dict>
</plist>
