<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>youngOffBuilder</key>
    <string>ProperDraw</string>
    <key>returnSegmentCreative</key>
    <string>HandleWithoutRestore</string>
    <key>worthyLaunchMatrix</key>
    <string>ForBasicStayStage</string>
    <key>channelBalancedLoader</key>
    <string>ManagerValuableSessionUntil</string>
    <key>harborEnable</key>
    <string>BindFormatSplendidAdept</string>
    <key>solidRefreshDiscreteCache</key>
    <string>CloseStoreModernOpenFind</string>
</dict>
</plist>
