<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rainOfVisitor</key>
    <string>SpiritExpertManagerDuringAbove</string>
    <key>searchMobileValidator</key>
    <string>LiberalLeanSendProvider</string>
    <key>belowBeaconClassMobile</key>
    <string>InstanceAlcoveGrandMerge</string>
    <key>sharpRefresh</key>
    <string>PastFinishWise</string>
    <key>enableYieldingCodec</key>
    <string>DelegateFormatLucky</string>
    <key>triggerMediator</key>
    <string>CalculateManifestInitial</string>
</dict>
</plist>
