<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>storyRadiant</key>
    <string>PrimalStopGenuine</string>
    <key>darkImplement</key>
    <string>UntilWingWriteTerse</string>
    <key>waitHoney</key>
    <string>ConfigLogProfileVast</string>
</dict>
</plist>
