<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fillVital</key>
    <string>ReturnUniversalTenseWithin</string>
    <key>behindOuterSerializerCross</key>
    <string>VectorMainPlainSilverModify</string>
    <key>calculateDelegateRichFormat</key>
    <string>EnumShowTrain</string>
    <key>headerOutside</key>
    <string>CommandTowardClassTrailCancel</string>
    <key>ringSetManager</key>
    <string>ProxySteamMethod</string>
    <key>merryRecord</key>
    <string>HeaderMatureTargetMove</string>
</dict>
</plist>
