<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>interpreterGateDistantResume</key>
    <string>StormFormatLotusPortal</string>
    <key>easyBlockCloseDataSource</key>
    <string>BeforeModifyProvider</string>
    <key>extensionLawful</key>
    <string>BeginAbundantFitCrown</string>
    <key>simpleDeserializerSharpDraw</key>
    <string>SunnyMacroWait</string>
</dict>
</plist>
