<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>lotusGlad</key>
    <string>SunCavernGuide</string>
    <key>browserWealthyDispatcher</key>
    <string>AcceptSaveFriendlyOffsetMap</string>
    <key>checkCollectionKindred</key>
    <string>CrystalPlayGlacierMediator</string>
    <key>initialFindType</key>
    <string>RecordImplementCompatibleReference</string>
    <key>mediatorSpace</key>
    <string>FolderApplyModifyRainZephyr</string>
    <key>heavenForceful</key>
    <string>ToolCacheLogSend</string>
    <key>factoryRare</key>
    <string>AmberStateCrest</string>
    <key>creatorLaunchBridgeLiberal</key>
    <string>RusticMobileDisplayLaunch</string>
    <key>visitorAtEminent</key>
    <string>DuskCoordinatorCancel</string>
</dict>
</plist>
