<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tacticTenseBindOwner</key>
    <string>ForwardHelperManager</string>
    <key>delegateGraph</key>
    <string>BetweenDurableUntilPassiveIntimate</string>
    <key>cavernSerializer</key>
    <string>EngineBeyondMark</string>
    <key>engineMap</key>
    <string>AbstractAdapterOwnerValidator</string>
    <key>earnestPlayBirchStack</key>
    <string>JunctionSpokePositionShow</string>
    <key>keenAgent</key>
    <string>WriteImplementSearch</string>
    <key>selectHardy</key>
    <string>RecordSpiritSet</string>
</dict>
</plist>
