<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>extensionTargetWrite</key>
    <string>SageModeSkill</string>
    <key>containerManagerLocal</key>
    <string>ExtensionClearBeforePearl</string>
    <key>splendidConvertProtocolGlade</key>
    <string>ResetHelperSync</string>
</dict>
</plist>
