<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>referenceCompareSlipGenuine</key>
    <string>RemoteDurableGrowingSplendidAround</string>
    <key>viaFilter</key>
    <string>GrandThroughOwnerChief</string>
    <key>debugSelfNotable</key>
    <string>StartCycle</string>
    <key>trustyListCrownRemove</key>
    <string>MixerThoroughCommandCheck</string>
    <key>compactTableClear</key>
    <string>NectarFacadeAround</string>
</dict>
</plist>
