<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>slideLiberal</key>
    <string>ModuleTurnShowDisplay</string>
    <key>frameProxyMajor</key>
    <string>RingDebugFondFile</string>
    <key>subtleOrchardImplementClear</key>
    <string>OverAlertDecodeVolume</string>
    <key>hostOffClassSoft</key>
    <string>MatchDisplayManageAfter</string>
    <key>offDefineVitalThorn</key>
    <string>PerformTrustedSplit</string>
    <key>controllerInFreshAdapter</key>
    <string>HoldContainerStop</string>
    <key>visitorRare</key>
    <string>PlainChiefGorgePast</string>
</dict>
</plist>
