<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>recordFeasibleCrypt</key>
    <string>DensePoolEngineBare</string>
    <key>dispatcherSoftThroughoutMutual</key>
    <string>UpwardSoundAssignMoveAcross</string>
    <key>returnTunnelNascentCollection</key>
    <string>TrustedCloseDecoratorDispatcher</string>
    <key>richThenMystic</key>
    <string>ToolCancelThen</string>
    <key>proudComparePhoenix</key>
    <string>CliffDarkListProxySteel</string>
    <key>commandPrivate</key>
    <string>InterpreterScanModelSave</string>
    <key>dispatcherSliceOf</key>
    <string>IntoStateWillingRestore</string>
    <key>toolSubmitMindful</key>
    <string>WithoutDelegateModule</string>
    <key>buoyantType</key>
    <string>LedgeFinishTargetStern</string>
</dict>
</plist>
