<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>commandFolder</key>
    <string>BrokerSilentTerseImport</string>
    <key>stateRusticGet</key>
    <string>FormatterScanBaseOrnate</string>
    <key>greenStore</key>
    <string>GenuineOrnateReturnMultiply</string>
    <key>toneStrategyUniversal</key>
    <string>SelfTransform</string>
    <key>generateSun</key>
    <string>PureClearValidateRest</string>
</dict>
</plist>
