<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shareHolyFillEnum</key>
    <string>EndView</string>
    <key>testNatureHeader</key>
    <string>GeneratePoolShare</string>
    <key>steadyOffTorch</key>
    <string>ClassReplaceTulipStatus</string>
    <key>loadVisitor</key>
    <string>AngleEnableStop</string>
    <key>wildMediator</key>
    <string>ShowMagnetDeliver</string>
    <key>moduleLayerAlertRegister</key>
    <string>ThroughoutBridgeDiscreteStayHandle</string>
</dict>
</plist>
