<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ringMarkCompatibleFriendly</key>
    <string>ImportPieceWillow</string>
    <key>astuteAgentReturnFocus</key>
    <string>StrategyReleaseBindNovel</string>
    <key>panelOnKindredTransformable</key>
    <string>TreatExtension</string>
    <key>moduleCreekAccelerate</key>
    <string>InstanceProperBelowImplement</string>
    <key>visitorThreatConvert</key>
    <string>AlongStateProcess</string>
    <key>pastQuintessentialMediatorContent</key>
    <string>PureExecuteOwner</string>
    <key>compactAmber</key>
    <string>PromptTopCloseHide</string>
    <key>buildGardenCache</key>
    <string>OutsidePrivateFixDarkTheme</string>
    <key>flameFresh</key>
    <string>FirthPlay</string>
</dict>
</plist>
