<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sternOutsideArrayAdapter</key>
    <string>ClassDurable</string>
    <key>referenceStation</key>
    <string>WarmInterpreterClassFinish</string>
    <key>neutralJadeFinish</key>
    <string>OnDivineBlitheFine</string>
    <key>downDeserializerCrystal</key>
    <string>BriskLock</string>
    <key>cacheLaunch</key>
    <string>PrimalDisplayHelperSnow</string>
    <key>groupExtra</key>
    <string>WorthyCancelFolder</string>
    <key>proxyMarsh</key>
    <string>ReleaseHandleProcessPhoenix</string>
    <key>luminousHeavenAgainst</key>
    <string>SandViaWalk</string>
    <key>enumUmbraInside</key>
    <string>ThemeImplementOverLedge</string>
</dict>
</plist>
