<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>terseValidateFilter</key>
    <string>CentralProtocolDiscreteTreat</string>
    <key>agentElegantDiamondWith</key>
    <string>WallReferenceView</string>
    <key>endlessRootByCollection</key>
    <string>HelperLockDecisiveTry</string>
    <key>astuteTransitAmongHandler</key>
    <string>GentleProtocolProxy</string>
    <key>classControllerFind</key>
    <string>ArrayTeamKiteMeadow</string>
    <key>goodPerformCollection</key>
    <string>AnalyzeHubDecentDrop</string>
</dict>
</plist>
