<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>containerSmooth</key>
    <string>PoolCancelSelf</string>
    <key>victoriousReport</key>
    <string>ReferenceLandReliableLogical</string>
    <key>cairnAdapter</key>
    <string>BelowConvertAfterPool</string>
    <key>idealPlanetClass</key>
    <string>SplendidInsert</string>
    <key>ofWealth</key>
    <string>OuterFieldDecodeOrnate</string>
    <key>gloriousProxy</key>
    <string>LeafContainerUnder</string>
    <key>observerCancelUrban</key>
    <string>AdeptListExtractWorthyCoordinator</string>
</dict>
</plist>
