<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>duringSong</key>
    <string>HazeRequestManager</string>
    <key>fixDecorator</key>
    <string>CacheAdapterLockProvider</string>
    <key>visibleStoreBase</key>
    <string>MessageGloriousFix</string>
    <key>infiniteChannelClose</key>
    <string>OutsideConsoleWith</string>
    <key>assetRemove</key>
    <string>InformationFixBrightInstance</string>
    <key>dataSourceSafe</key>
    <string>PrivateLocalWebRestore</string>
    <key>poolSmartAssign</key>
    <string>NorthCanvasGreatRegion</string>
    <key>unitDisplayMindfulHandler</key>
    <string>CommandOakenProtocolWatch</string>
    <key>extensionRestoreTemple</key>
    <string>TransitCompactObject</string>
</dict>
</plist>
