<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>facadeReliefLight</key>
    <string>FacadeHelperStory</string>
    <key>snowWarmLaunch</key>
    <string>RichRecordInfinity</string>
    <key>crispBeaconProxyDown</key>
    <string>JudiciousModuleSplendid</string>
    <key>calmExtensionUnderComplex</key>
    <string>UpScaleModernDark</string>
</dict>
</plist>
