<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>graveCommandVineRegister</key>
    <string>InterpreterBlithePause</string>
    <key>rowTerseReferenceOn</key>
    <string>DeserializerNatureRegion</string>
    <key>systemMap</key>
    <string>RouteDeserializerTerrainLegacy</string>
    <key>visitorHumane</key>
    <string>ClearThroughProudDecode</string>
    <key>modelSage</key>
    <string>DirectDigitalOpen</string>
    <key>selectNotableAdapterJade</key>
    <string>LinePrimalHarmonic</string>
    <key>provisionPool</key>
    <string>CleanVaporCompatibleDecoder</string>
    <key>stopImplementScriptZenith</key>
    <string>YewStairSend</string>
    <key>groupUpdateIdle</key>
    <string>MarkCompatibleExactSpark</string>
</dict>
</plist>
