<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>thoroughVerseFinishArray</key>
    <string>TargetClearEntryReturnHeader</string>
    <key>elmCompatible</key>
    <string>ReturnClassicIdle</string>
    <key>controllerUrbanModify</key>
    <string>DelegateTargetTactic</string>
</dict>
</plist>
