<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>convertView</key>
    <string>FreshDeserializerLineHandsome</string>
    <key>referenceCompare</key>
    <string>HeaderBadgeSparkRoyal</string>
    <key>chiefFreeDebugView</key>
    <string>SaverAtBadge</string>
    <key>sequenceRefresh</key>
    <string>BriefStrongLucent</string>
    <key>upProviderHandsomeChief</key>
    <string>TwistArrayDuringProtocol</string>
    <key>targetRationalDisplay</key>
    <string>CleanSessionRestoreExecute</string>
</dict>
</plist>
