<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>voiceSetFilter</key>
    <string>LaunchOverMain</string>
    <key>expertHandler</key>
    <string>DebugPaintJust</string>
    <key>wirelessFacadeViewFormat</key>
    <string>InitializeSplashProxyInitialize</string>
    <key>coordinatorAssetClassic</key>
    <string>LogicWaitStackAccount</string>
    <key>luckyVerifyViewPrecious</key>
    <string>CommandRegionUltimate</string>
    <key>sternTempleAmidTransformable</key>
    <string>ActionWideThrough</string>
    <key>brokerPlay</key>
    <string>HoneyRegisterManager</string>
    <key>strategyFocusedStation</key>
    <string>CodecSplitMerge</string>
    <key>boardTrainHelperGigantic</key>
    <string>BirchToProud</string>
</dict>
</plist>
