<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pastCacheSense</key>
    <string>UnderResumeOutsideRich</string>
    <key>watchBlockDecisive</key>
    <string>DominantQuirkSkilled</string>
    <key>recordTrueSun</key>
    <string>FactoryDownCache</string>
    <key>justStackHold</key>
    <string>LandscapeInterpreterBuildGlobe</string>
</dict>
</plist>
