<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>jovialReceiveStateTool</key>
    <string>BrokerAbyssTargetLanguage</string>
    <key>compositeDefine</key>
    <string>EngineWriteGenerateCalm</string>
    <key>modelBlendMakeVital</key>
    <string>FlowInsertManager</string>
    <key>oddArray</key>
    <string>NorthStartSpot</string>
    <key>modelRiver</key>
    <string>ImprovedElegant</string>
    <key>pluginCivicThen</key>
    <string>ZenithTryOrchard</string>
    <key>arrayMergeLucent</key>
    <string>AmberWittyChasm</string>
</dict>
</plist>
