<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sunnyRelief</key>
    <string>SaverCancelUntilInitial</string>
    <key>sparkHandlerFaithful</key>
    <string>EminentOutsideWisdom</string>
    <key>gentleDebugBeneathCompatible</key>
    <string>TranquilReturnTable</string>
    <key>poolAlong</key>
    <string>GlacierFilterTerseCrown</string>
</dict>
</plist>
