<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>upwardFormatter</key>
    <string>VerseBetweenTypeGrove</string>
    <key>smartAgent</key>
    <string>LockRidgeCrest</string>
    <key>commandPassive</key>
    <string>CleverBeneathInstanceConvert</string>
    <key>sacredDirectType</key>
    <string>TurnPortraitNatural</string>
    <key>stateLogical</key>
    <string>DownPluginShow</string>
    <key>decentBeyondStateNeutral</key>
    <string>TypeDatabaseCache</string>
    <key>throughVictorious</key>
    <string>DominantRestoreUnusual</string>
    <key>treatEnumSubmitKinetic</key>
    <string>ExecuteContentDownAnalyze</string>
    <key>creatorLeapRefresh</key>
    <string>AdapterSoundLoose</string>
    <key>commandCivic</key>
    <string>FromCreateInside</string>
</dict>
</plist>
