<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>arrayFormat</key>
    <string>ExactAddRockDeep</string>
    <key>encodeDispatcher</key>
    <string>FormatForestDown</string>
    <key>inTerrainQuickContainer</key>
    <string>DenseToolTrack</string>
    <key>diamondDataSource</key>
    <string>FormatterSetIntuitive</string>
    <key>novelInsideInstance</key>
    <string>PrimeOriginOffsetDenseModule</string>
    <key>facadeAfter</key>
    <string>ClassStopUponPure</string>
    <key>loaderSelectNoble</key>
    <string>AdapterDataPortWithin</string>
    <key>idleSilent</key>
    <string>RoundTopPortraitAudioAlong</string>
    <key>listInitializeDecoder</key>
    <string>TunnelPrimeReference</string>
    <key>authenticThroughCreator</key>
    <string>BrightGladPoolGracious</string>
</dict>
</plist>
