<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>hastyHolisticFillStack</key>
    <string>AgentFormatRapids</string>
    <key>delegateOff</key>
    <string>InterpreterVectorTacticValidate</string>
    <key>mediatorTrack</key>
    <string>DebugCompositeViewRemove</string>
    <key>managerBrief</key>
    <string>MeritUtilityOf</string>
</dict>
</plist>
