<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>againstManagerHandsomeBound</key>
    <string>SearchRadiantSpeak</string>
    <key>warmPlazaBeyondBuilder</key>
    <string>BaseLeanAdd</string>
    <key>receiveCoolMediator</key>
    <string>ZoneReceiveDuskBeneath</string>
</dict>
</plist>
