<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>targetDown</key>
    <string>ReflectIntoDuring</string>
    <key>toolTestProudState</key>
    <string>TransformableMobileAzure</string>
    <key>dynamicExactDeserializer</key>
    <string>ExportOutsideFocused</string>
</dict>
</plist>
