<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mightyClass</key>
    <string>TenderWithinPast</string>
    <key>dataOutside</key>
    <string>ExtractRegisterWaryFlow</string>
    <key>edgeClassSoftGet</key>
    <string>ResumeLeapStoryStateClean</string>
    <key>loaderBind</key>
    <string>EdgeCrossSave</string>
    <key>cacheIdleAbstractEncode</key>
    <string>ProviderBindBold</string>
    <key>webQualityAgent</key>
    <string>CloseBasicFormatPause</string>
    <key>strategyPureExpertInsert</key>
    <string>ReplaceList</string>
    <key>deviceFormatterTrainJust</key>
    <string>CommandOpalFormatterTulip</string>
</dict>
</plist>
