<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>reflectDiscrete</key>
    <string>WhiteCancelUnderHelix</string>
    <key>enableAdapterDense</key>
    <string>BehindLogicWholeThen</string>
    <key>afterAustereProvider</key>
    <string>PassiveTryWaitDuringCompact</string>
    <key>compactArrayCache</key>
    <string>LuminousLaunchMake</string>
    <key>voiceUpdate</key>
    <string>YoungDryCoral</string>
    <key>vocalThenConnectDefined</key>
    <string>StripeMistViewContinue</string>
</dict>
</plist>
