<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>extensionBuildRare</key>
    <string>AdapterWorkCreate</string>
    <key>tryShadePeacefulEnum</key>
    <string>EncodeTreatAnalyze</string>
    <key>factoryMagical</key>
    <string>HideZoneCrestDirect</string>
    <key>restDualSaverRegister</key>
    <string>SelectPoolHill</string>
    <key>duringSilentInfinite</key>
    <string>RunCliffSaveSilver</string>
    <key>freeAdd</key>
    <string>PolicyGlobeBoundShadeTranquil</string>
</dict>
</plist>
