<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>keyKindredProviderBegin</key>
    <string>DecentPerformCreateWithMine</string>
    <key>lawfulModuleResume</key>
    <string>HandsomeProperUpward</string>
    <key>trackListLucid</key>
    <string>FormatPlayMajor</string>
    <key>bonnyHumbleThroughout</key>
    <string>SequenceMarkSense</string>
    <key>helperPortraitModal</key>
    <string>AgentToolUrchin</string>
    <key>handleCleanPetal</key>
    <string>LedgeCavernLogLogic</string>
</dict>
</plist>
