<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>syncObvious</key>
    <string>ExtensionProcessPortal</string>
    <key>digitalDeserializer</key>
    <string>DurableProvisionCoordinatorContinue</string>
    <key>durableOwnerSternDraw</key>
    <string>OakenDetectFindModel</string>
    <key>surgeVisibleUpdateCreator</key>
    <string>DetectTrustedClose</string>
    <key>beneathInstanceWise</key>
    <string>CrispAgentCreate</string>
</dict>
</plist>
