<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>atIdleLitheCreator</key>
    <string>ValidateGraphInsightDramaticImport</string>
    <key>acuteListBroker</key>
    <string>AustereBehindMake</string>
    <key>orchardFromCoordinatorComplex</key>
    <string>RegistryVisitorAdapter</string>
    <key>importEngine</key>
    <string>ReportModelKnackCompatible</string>
    <key>modelDistantFallsFind</key>
    <string>DecoderRelief</string>
    <key>loaderCloseProxy</key>
    <string>ImplementModelDivineFile</string>
</dict>
</plist>
