<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>oakenScriptEngine</key>
    <string>ReadyGravePauseBeneath</string>
    <key>tinyImport</key>
    <string>StartBeforePrint</string>
    <key>formatCairnHeroicCommand</key>
    <string>ExecuteMove</string>
    <key>dataSourceFreeRowCancel</key>
    <string>CalculateTypeBaseParseAttach</string>
    <key>formatterIntensePineOf</key>
    <string>DecentTinyListUpward</string>
    <key>coolRapidsTool</key>
    <string>ToolCloseZestful</string>
    <key>strikeAbsoluteTransformable</key>
    <string>WealthGroupAnalyze</string>
</dict>
</plist>
