<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ownerMinimalPause</key>
    <string>SolarDeserializerInsideAdd</string>
    <key>blockOrnateFormatter</key>
    <string>StatePastBaseUpdate</string>
    <key>commandLogAccount</key>
    <string>LineResetGenerateDecode</string>
    <key>compositeJourney</key>
    <string>ConnectAdapterDistant</string>
</dict>
</plist>
