<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>realMapVentureFacade</key>
    <string>HoldInfinity</string>
    <key>durableModifyHelperPixel</key>
    <string>RainLiberalWindow</string>
    <key>towerDualSortManager</key>
    <string>AssignTestLoaderHelper</string>
</dict>
</plist>
