<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>lotusCreateGlorious</key>
    <string>FormatterFetchMoveBuilderTrue</string>
    <key>drawMatureProvider</key>
    <string>BehindFocusSaver</string>
    <key>legacyGenerousGroup</key>
    <string>PackTestViaFix</string>
    <key>modelUnder</key>
    <string>InGiftedTrackTreasure</string>
    <key>viewChasmZippyReceive</key>
    <string>StoreVibrantTwistCalculate</string>
    <key>arrayFaintDrawDurable</key>
    <string>ZoneCrystalIntuitive</string>
</dict>
</plist>
