<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>holdElite</key>
    <string>ProfileStrategyDecoratorModel</string>
    <key>yieldingEndVisitor</key>
    <string>WalkRainDeepValidator</string>
    <key>holdHarmonicMeasured</key>
    <string>MountainDisplayFaithful</string>
    <key>humorUnique</key>
    <string>CheckLuckyCommand</string>
    <key>holisticNative</key>
    <string>FocusUpCalmMakeOffset</string>
    <key>poolHazeBlithe</key>
    <string>SyncSteamFree</string>
    <key>referenceSolidPlatform</key>
    <string>CleanIvorySkyAdapter</string>
    <key>cryptAttach</key>
    <string>CrestReplace</string>
    <key>managerPreciousEstuary</key>
    <string>ScriptSearchSaveWillow</string>
</dict>
</plist>
