<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>quickMightyFormatterAdd</key>
    <string>MatchRareProviderMove</string>
    <key>controlProviderHarmonicDisplay</key>
    <string>AssignPastModel</string>
    <key>receiveLightInstance</key>
    <string>PacificPackOrder</string>
    <key>displayExtensionTrusty</key>
    <string>WithinUnityHandle</string>
    <key>focusRefined</key>
    <string>IntoConnect</string>
    <key>transformQuintessential</key>
    <string>ModernWithinProviderZenithSpeak</string>
</dict>
</plist>
