<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>secureListBind</key>
    <string>ConvertBoardTrain</string>
    <key>volumeFreshInstanceAcross</key>
    <string>BaseBrokerStackLegacy</string>
    <key>commandFindAtlas</key>
    <string>ReleaseWaitBaseArray</string>
    <key>loaderApply</key>
    <string>SplashSyncCache</string>
    <key>dataSourceFine</key>
    <string>OriginalProtocolWith</string>
    <key>transformableLogic</key>
    <string>WordVisionUntilBreak</string>
    <key>primeThenDiscrete</key>
    <string>CancelHeroicGeneric</string>
</dict>
</plist>
