<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>firmOf</key>
    <string>StrikeListSignal</string>
    <key>connectMessageCollectionZestful</key>
    <string>PrintSearch</string>
    <key>deserializerUp</key>
    <string>ObserverWoodCache</string>
    <key>gulfVisitorGladWait</key>
    <string>NotablePromiseBy</string>
    <key>engineSimpleImmenseSet</key>
    <string>HandleValidateDeserializerMightyKite</string>
    <key>referenceSplitBalanced</key>
    <string>BelowDryReplaceYard</string>
    <key>rateStrategy</key>
    <string>ReliefLayoutAccelerateFix</string>
    <key>classMain</key>
    <string>MinimalVisible</string>
    <key>alongsideAdapter</key>
    <string>ByDiamondSound</string>
</dict>
</plist>
