<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>goodProtocol</key>
    <string>DebugBesideModeTrack</string>
    <key>adapterExecuteEstuary</key>
    <string>LuminousChartPortraitStay</string>
    <key>dropMindful</key>
    <string>ExtensionClearOverStream</string>
    <key>inViewCoolThread</key>
    <string>OptimalHazeCoordinatorJadeWatch</string>
    <key>knackMediatorGreatClear</key>
    <string>KineticDebugSetInterpreter</string>
    <key>printDisplay</key>
    <string>CloseTypeAmongSend</string>
    <key>setBuoyantForest</key>
    <string>DeliverAppend</string>
    <key>extensionTo</key>
    <string>PlayfulLimitAdapterList</string>
</dict>
</plist>
