<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>peacefulEngine</key>
    <string>PauseMapRoundFormal</string>
    <key>creatorFind</key>
    <string>TrailReferenceMatch</string>
    <key>serializerDecentTrain</key>
    <string>SaverHumbleMomentBelow</string>
</dict>
</plist>
