<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>warySyncProvider</key>
    <string>AttachJadeBy</string>
    <key>creatorSleek</key>
    <string>BaseWithoutOrigin</string>
    <key>wreathRefinedPoolAmid</key>
    <string>PoolStateFaithful</string>
    <key>launchHelperOptimal</key>
    <string>PlainMightBlithe</string>
    <key>referenceSoftFind</key>
    <string>FolderOutsideTunnel</string>
    <key>alongsideExtension</key>
    <string>FloraOnProudExport</string>
</dict>
</plist>
