<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>extensionPureAgainstState</key>
    <string>CrestHarborProxy</string>
    <key>groupVentureTranquilContinue</key>
    <string>LoyalPoolReset</string>
    <key>youngRegisterUpProxy</key>
    <string>CompatibleEngineFocusAccurate</string>
    <key>winterPrintGlobalProvider</key>
    <string>BeginBuilderGenerate</string>
    <key>insideHarmless</key>
    <string>ModuleStateResetShow</string>
    <key>sortValidatorNearNook</key>
    <string>StateSortCoordinator</string>
    <key>acrossRetreatPositiveType</key>
    <string>SlideSendOf</string>
    <key>typeNativeStar</key>
    <string>EmberSubtleSyncOwner</string>
</dict>
</plist>
