<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>jungleMediator</key>
    <string>AustereNascentBetween</string>
    <key>toolNeutral</key>
    <string>LoyalOpenErrorGet</string>
    <key>windTerse</key>
    <string>HeaderElementOriginal</string>
</dict>
</plist>
