<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>treeCreateDeserializerLucid</key>
    <string>ResumeAbove</string>
    <key>havenStack</key>
    <string>ControllerCleanApplyOasis</string>
    <key>fetchFocusedAssignImplement</key>
    <string>PaintChiefChiefFairy</string>
</dict>
</plist>
