<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>coolArrayPortrait</key>
    <string>TypeSpice</string>
    <key>finePortModule</key>
    <string>UpdateFolderWithinExpert</string>
    <key>splendidMagic</key>
    <string>BaseSiteHeader</string>
    <key>receiveProtocolPleasant</key>
    <string>SunMapAssign</string>
    <key>calmJadeContainerAssign</key>
    <string>AroundLandThreatWith</string>
    <key>spokeLeanReturn</key>
    <string>HarborUpwardContinue</string>
    <key>enumWildVerifyEstuary</key>
    <string>DeliverGuideSpirit</string>
    <key>towerMatureExtract</key>
    <string>ActionThreadKindWisdom</string>
    <key>guideOaken</key>
    <string>UponBind</string>
    <key>launchMountainFondClass</key>
    <string>WaitPetalDecode</string>
</dict>
</plist>
