<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>blockViewWatch</key>
    <string>CompatibleMapList</string>
    <key>fairyMindfulModuleAmong</key>
    <string>ReleaseConfigShapeHolisticManager</string>
    <key>protocolMerryHardyBehind</key>
    <string>ImportWebFinish</string>
    <key>engineVisionWrite</key>
    <string>MonitorOwnerFirth</string>
    <key>extensionModalHandleOrchard</key>
    <string>MapOfYoungEvent</string>
    <key>shellHealthyInstance</key>
    <string>HillAppendRunDiscretePeak</string>
    <key>utilityHeroicPlayProtocol</key>
    <string>SelectContinueAccelerate</string>
    <key>belowAdapterLight</key>
    <string>InvitingBrokerWait</string>
    <key>visitorDefinedFloraPause</key>
    <string>JourneyEncode</string>
</dict>
</plist>
