<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compareScan</key>
    <string>SeaParseRingDisplay</string>
    <key>intimateToDeviceBroker</key>
    <string>FocusedExquisiteCreator</string>
    <key>wildRecord</key>
    <string>OntoSplitRegister</string>
    <key>removePoolSageAzure</key>
    <string>WoodSetFor</string>
    <key>reliablePlaza</key>
    <string>BeforeLoaderModalTree</string>
</dict>
</plist>
