<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cairnPleasantProxy</key>
    <string>PrimeFeatureDeserializer</string>
    <key>controllerPlace</key>
    <string>ExactMelodyMakeRefresh</string>
    <key>themeFor</key>
    <string>CreatorBeneathStateCommand</string>
    <key>neatAccelerateDispatcher</key>
    <string>RefreshWayDownReceive</string>
</dict>
</plist>
