<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>trackExpertSiteType</key>
    <string>MagnetMultiplyMightTiny</string>
    <key>generateProtocol</key>
    <string>AlongTypeCreateChart</string>
    <key>beneathSerene</key>
    <string>BrokerLogicalAssign</string>
</dict>
</plist>
