<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>encodeVirtuousControllerPlugin</key>
    <string>ServiceLightThicketAstute</string>
    <key>nobleCollection</key>
    <string>KiteTowardTargetTool</string>
    <key>observerAccelerateJadeDurable</key>
    <string>AccelerateReportFormat</string>
    <key>gridContinueEngineSystematic</key>
    <string>FormatCompactMake</string>
    <key>oddHeaderPaintIntense</key>
    <string>ExquisiteLayerCalculateReset</string>
    <key>transformableJungleOff</key>
    <string>GoodDaleSystematicDataSource</string>
</dict>
</plist>
