<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>checkZenith</key>
    <string>GetDelegateStore</string>
    <key>betweenEarthDecorator</key>
    <string>BesideUrbanModuleLoose</string>
    <key>throughHarmlessSurf</key>
    <string>TowardTargetPaint</string>
    <key>enumHideZealousParadise</key>
    <string>PastCanvas</string>
    <key>scaleProtocolOuter</key>
    <string>FormatProxySave</string>
    <key>vastCompactStackAttach</key>
    <string>YardSerenePrime</string>
    <key>enableQuietProtocol</key>
    <string>SignalBright</string>
</dict>
</plist>
