<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>finishBrokerBlitheNascent</key>
    <string>ReadFocusCreate</string>
    <key>outsideUrchinFocusedAgent</key>
    <string>ThroughoutHarmonicReceiveIsland</string>
    <key>featureInstance</key>
    <string>PerformCacheContextFlow</string>
    <key>tallSaverSend</key>
    <string>DecisivePlainRecord</string>
    <key>formatTall</key>
    <string>SlideMuseWait</string>
    <key>boardThen</key>
    <string>SoftOptimalEngineTo</string>
    <key>throughGroupGlacier</key>
    <string>HeroicBoundCarefulBundle</string>
</dict>
</plist>
