<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>warmProxy</key>
    <string>GentlePastFacadeVerseDelegate</string>
    <key>openCleverManagerWall</key>
    <string>CivicResetFacade</string>
    <key>rareDataSourceIn</key>
    <string>ThicketShellTrendAgent</string>
    <key>builderMatchDeviceMajor</key>
    <string>RadiantOverHonestWriteDecode</string>
    <key>torchFormatter</key>
    <string>YearReplaceRidgePast</string>
    <key>pauseReadyInstanceJunction</key>
    <string>DispatcherBehindHeavenTrail</string>
</dict>
</plist>
