<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>filterJust</key>
    <string>BasicNatureBeforeUntil</string>
    <key>validAfterOffsetHelper</key>
    <string>KeyVastSearch</string>
    <key>vibrantFacadeFor</key>
    <string>DataSourceWindowSaver</string>
    <key>endlessRemoveFocus</key>
    <string>ViaDeepEventProxy</string>
    <key>classNodeFeasible</key>
    <string>FreshOutsideLuminous</string>
</dict>
</plist>
