<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>loaderCheck</key>
    <string>BrookGlobal</string>
    <key>selectEnum</key>
    <string>TaskUpPushImmense</string>
    <key>selfVisitor</key>
    <string>BesideObserverValidator</string>
    <key>austereRegisterAudio</key>
    <string>FieldBambooOver</string>
    <key>gladeForTransformable</key>
    <string>WideGroupValuableDecode</string>
    <key>outsidePolicyFond</key>
    <string>BrokerCairnOntoOnto</string>
    <key>flashHasty</key>
    <string>ViableFlashCrownGood</string>
</dict>
</plist>
