<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tryFastPrairieCommand</key>
    <string>ValidatorVolumeAgent</string>
    <key>keyManager</key>
    <string>ProperThroughBegin</string>
    <key>offParadiseMildCoordinator</key>
    <string>ModifyVisitorCreatorAmid</string>
</dict>
</plist>
