<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>gloriousRusticMake</key>
    <string>ThroughoutHideOnShareStart</string>
    <key>commandFieldIdle</key>
    <string>ViaDeserializerInterpreter</string>
    <key>silentLaunchWarm</key>
    <string>SilverConvertTerseForce</string>
    <key>generateInstanceManifestOrnate</key>
    <string>EqualOntoCreekThen</string>
    <key>proudEngine</key>
    <string>NearLock</string>
</dict>
</plist>
