<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ontoStack</key>
    <string>DivineMakeSwift</string>
    <key>compareLoaderDense</key>
    <string>PushCreatorZestfulPrairie</string>
    <key>hideDistinct</key>
    <string>CreatorCoolDownCalculateMain</string>
    <key>helperFrom</key>
    <string>HeroicDrawResume</string>
</dict>
</plist>
