<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>betweenLinkFastInterpreter</key>
    <string>DaintyShowLightSync</string>
    <key>handyOrderContainer</key>
    <string>MultiplyVectorTargetBeside</string>
    <key>sessionObvious</key>
    <string>ToolDataSourceAcutePiece</string>
    <key>shellLuminousBuilder</key>
    <string>CancelIvoryCancelInto</string>
    <key>sweetOver</key>
    <string>ZenithTo</string>
    <key>cacheBrowserMerge</key>
    <string>ModestTerseBold</string>
    <key>withoutType</key>
    <string>ValleyOffsetUp</string>
    <key>beneathSupplyIntuitiveController</key>
    <string>ExtensionSendAround</string>
    <key>harmonyDecoratorPush</key>
    <string>CrispManagerBroker</string>
</dict>
</plist>
