<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>listWide</key>
    <string>RunWiseAppend</string>
    <key>divineJungleBehindTransformable</key>
    <string>AbundantNascentVia</string>
    <key>protocolSuperClose</key>
    <string>BuildFallsAppend</string>
    <key>cascadeFilter</key>
    <string>FindTrackLoyalShowOn</string>
    <key>blitheAfter</key>
    <string>SendVastSolidLibrary</string>
</dict>
</plist>
