<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>containerJoyfulMemory</key>
    <string>ZoneLaneFrame</string>
    <key>objectAfter</key>
    <string>SwiftAlongsideSortImplement</string>
    <key>observerBoldSetKinetic</key>
    <string>VigorousLockQuirk</string>
    <key>thickDeliver</key>
    <string>AtEmber</string>
    <key>portDelegate</key>
    <string>GroveRavenPortLucent</string>
</dict>
</plist>
