<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bonnyTall</key>
    <string>DownWideTrack</string>
    <key>withOwner</key>
    <string>DispatcherOpalCacheDetect</string>
    <key>nascentThemeRelease</key>
    <string>SyncPlaySmooth</string>
    <key>detectTenderTransformable</key>
    <string>RequestLoyalPackStrong</string>
    <key>livelyRealmReferenceHandle</key>
    <string>RareRegisterSession</string>
    <key>gloriousCleanInsert</key>
    <string>PushAmongImportParse</string>
</dict>
</plist>
