<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modifyBuoyantService</key>
    <string>ModeReleaseMethodUpgrade</string>
    <key>waitEnumDome</key>
    <string>MarkProcessKindFillModel</string>
    <key>stateOceanClean</key>
    <string>ReflectStripeValley</string>
</dict>
</plist>
