<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>surgeDecoratorDetectModal</key>
    <string>OverPoplarFinish</string>
    <key>routeAccurateAround</key>
    <string>YearAmidLight</string>
    <key>intuitiveCascadeSend</key>
    <string>InterpreterSetAccountInto</string>
    <key>updateAdapter</key>
    <string>BuildMistWalk</string>
    <key>intenseAgainst</key>
    <string>TriggerBoldSuperThroughShow</string>
    <key>moveImport</key>
    <string>DistantType</string>
</dict>
</plist>
