<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>durableAround</key>
    <string>KnackCascadePrismAlcove</string>
    <key>observerIdleValuable</key>
    <string>BelowMuseConvertLively</string>
    <key>generateLimitDispatcher</key>
    <string>AbsoluteCacheAccelerateFlash</string>
    <key>wanderCreatorLucid</key>
    <string>AbundantBuilderDefine</string>
    <key>realmMake</key>
    <string>WishRadarDetect</string>
    <key>cascadeWittyBeforeProvider</key>
    <string>MildTrustHeaderSerializer</string>
</dict>
</plist>
