<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>scriptConnectPool</key>
    <string>CrestFinishClear</string>
    <key>slideBy</key>
    <string>ContinueTurnLanguageReference</string>
    <key>directCollectionToward</key>
    <string>SaverBeforeDebug</string>
    <key>magicalCompatibleHideTriumph</key>
    <string>WingIslandPearlCollection</string>
    <key>facadeMinimal</key>
    <string>ListFormatterRunStretchPlay</string>
    <key>targetDaintyMultiplyUpdate</key>
    <string>TrainLoyalClassStart</string>
    <key>trailUpdateHelper</key>
    <string>ReadBeyondStoneValidator</string>
    <key>saveChief</key>
    <string>AcceptOnyxContainerDeserializer</string>
    <key>thenFriendlyCalculateController</key>
    <string>RemoveNearSet</string>
    <key>bindModelCrest</key>
    <string>DisplayExpertProper</string>
</dict>
</plist>
