<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>runProviderWise</key>
    <string>SplitDisplay</string>
    <key>managerFitPortal</key>
    <string>AmberSequenceAtSplash</string>
    <key>setUpgrade</key>
    <string>QuintessentialUnityPastThorough</string>
    <key>serializerPointNearCrisp</key>
    <string>BaseCompositeGraceful</string>
    <key>shapeStackFastAmid</key>
    <string>SearchParseTransit</string>
    <key>decentRaven</key>
    <string>CentralScopeLanguageFetch</string>
    <key>abyssModule</key>
    <string>WanderImportKeyProcessConvert</string>
    <key>delegateLucid</key>
    <string>FillCanyonIntense</string>
    <key>leafInterpreterRational</key>
    <string>MightyModeEndSaveCheck</string>
</dict>
</plist>
