<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>macroReadHandler</key>
    <string>SimpleBlockHasty</string>
    <key>decoratorShadeFixCrisp</key>
    <string>LedgerStoneLink</string>
    <key>terseCoordinator</key>
    <string>OrderRefreshNear</string>
    <key>formalSkyPast</key>
    <string>LightBehindThreatPacific</string>
    <key>gladAtGlobal</key>
    <string>LanguageSortSpotRate</string>
    <key>enumRavenShow</key>
    <string>CoherentGenerateTrustyGroup</string>
    <key>collectionContextModern</key>
    <string>ResetDramaticManager</string>
    <key>heightBuilderKineticTry</key>
    <string>WoodTestInside</string>
    <key>guideOverClassNatural</key>
    <string>IdleHelixLiberal</string>
</dict>
</plist>
