<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>harmlessSerializer</key>
    <string>FilterFlatCreateThrough</string>
    <key>digitalProcessAbstractDispatcher</key>
    <string>OffTryBehind</string>
    <key>insightTrackImplementPlush</key>
    <string>OffFolder</string>
    <key>braveBirch</key>
    <string>RobustEngineUtilitySymbolAttach</string>
    <key>routeKnownProviderParse</key>
    <string>RiverMarkProcess</string>
    <key>libraryContainer</key>
    <string>MethodMinimalYear</string>
    <key>jadeSend</key>
    <string>FilterToolAsset</string>
    <key>intenseFacadeFindSoft</key>
    <string>InstanceProviderAuthentic</string>
</dict>
</plist>
