<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>simpleAgentAssignService</key>
    <string>CliffLocalModest</string>
    <key>fancyHidePortraitLoader</key>
    <string>AlongGenerateMarkOnto</string>
    <key>royalBuilderBlitheParse</key>
    <string>ControllerFixMagic</string>
    <key>absoluteEnum</key>
    <string>CancelPineJewel</string>
    <key>zippyExtensionTransform</key>
    <string>ProxyNearGrove</string>
    <key>upwardHavenSerializer</key>
    <string>BeyondAnalyzeViewNativeStretch</string>
</dict>
</plist>
