<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>poolMainVerify</key>
    <string>PushKnownGlade</string>
    <key>withinClassPacific</key>
    <string>DarkFormatDown</string>
    <key>sharpLoaderSourceMatch</key>
    <string>BindAssignHiveTable</string>
    <key>channelSaverPackMain</key>
    <string>GraciousSourceListenerMatch</string>
    <key>compositeAudio</key>
    <string>RelayCheckDispatcher</string>
    <key>timerYoung</key>
    <string>FriendlyWillingMuse</string>
</dict>
</plist>
