<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beneathExpert</key>
    <string>PrintDecodeDecisive</string>
    <key>poolSearchJade</key>
    <string>PackOutsideReturn</string>
    <key>brightCoherentArrayAppend</key>
    <string>AmongOuterMerge</string>
    <key>jubilantUntilCache</key>
    <string>MarkTopWholeIn</string>
    <key>encodeCross</key>
    <string>ReadyCreatorReportAssign</string>
    <key>matureObserverCreate</key>
    <string>DesertPluginMap</string>
    <key>recordOriginalBroker</key>
    <string>TargetMarshAccept</string>
    <key>proxyBinarySunny</key>
    <string>HandleEnumResetBegin</string>
    <key>pureFallsOff</key>
    <string>ConvertFormatTry</string>
    <key>besideCrest</key>
    <string>FaithfulUniqueDeep</string>
</dict>
</plist>
