<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>heroicConnect</key>
    <string>ImportFloraExactDeliver</string>
    <key>poolStatusCompact</key>
    <string>FolderInformationAdapterState</string>
    <key>facadeHoldLedgeQuick</key>
    <string>RecordTransformFactoryPast</string>
    <key>interpreterSaveBold</key>
    <string>PastWaitRelief</string>
    <key>solutionPassiveApply</key>
    <string>TransitSubmitSyncCompare</string>
    <key>instanceFaithfulAbove</key>
    <string>StoryParseOntoObserver</string>
</dict>
</plist>
