<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>deserializerFloraAdvanced</key>
    <string>QuirkPackageCavernMarkerFacade</string>
    <key>providerPrimalPackOpal</key>
    <string>AmpleFindRapids</string>
    <key>proxyTactful</key>
    <string>InterpreterHandyAppendAmber</string>
    <key>observerFirth</key>
    <string>MediaHandlerDisplay</string>
    <key>deltaTransform</key>
    <string>ManagerToolVerifyDiscrete</string>
    <key>toLeanBamboo</key>
    <string>UntilTypePackageExtension</string>
</dict>
</plist>
