<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>creativeSilentTry</key>
    <string>FirthMildApply</string>
    <key>soundController</key>
    <string>BeginTowardMystic</string>
    <key>nearCommandChiefTag</key>
    <string>HiveQuietStrategyRealm</string>
    <key>storeModelMeadow</key>
    <string>TrackMoveFinish</string>
    <key>drySolidSet</key>
    <string>EngineListIdle</string>
    <key>afterLoader</key>
    <string>TrainHoneyTo</string>
    <key>importGoodBuilder</key>
    <string>OptionCalculateDecisive</string>
</dict>
</plist>
