<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>joyfulVisitorLoadShow</key>
    <string>MatchTransformWanderSpeak</string>
    <key>downChief</key>
    <string>AcuteResumeProtocolLandUpdate</string>
    <key>coolOver</key>
    <string>StrategyTempleDataSource</string>
    <key>proudVoice</key>
    <string>BehindAgentLand</string>
    <key>leanFilterExecuteInstance</key>
    <string>ReceiveLoadMultiply</string>
    <key>quintessentialBefore</key>
    <string>PluginDesertInitial</string>
</dict>
</plist>
