<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handlerWithin</key>
    <string>MinimalListImageBrightContainer</string>
    <key>saverOriginal</key>
    <string>SleekBuilderRegisterClose</string>
    <key>insertWilling</key>
    <string>BasePlayTarget</string>
    <key>blitheObserverMove</key>
    <string>HarborWaitSolar</string>
    <key>reliefEnumThrough</key>
    <string>SplitSeaElm</string>
    <key>cancelPathValidatorPristine</key>
    <string>BrightPointCompatible</string>
    <key>positiveSwirlFormatter</key>
    <string>ValidatorRecordLegacy</string>
</dict>
</plist>
