<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>originalThen</key>
    <string>LocalQuickAfterImport</string>
    <key>modelMap</key>
    <string>RefreshUniqueSymbol</string>
    <key>submitDale</key>
    <string>DenseDesertReferencePaint</string>
    <key>mutualAttachDataSource</key>
    <string>ContainerGracefulCrestScale</string>
    <key>proxyDriverAt</key>
    <string>AdapterGorgeAmidController</string>
    <key>syncTarget</key>
    <string>RestoreDynamicVisitor</string>
    <key>phoenixTransformable</key>
    <string>LooseStackAgainst</string>
    <key>validatorRational</key>
    <string>MatchReplace</string>
</dict>
</plist>
