<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>abundantAcrossScroll</key>
    <string>PositionIdealWillingHeroic</string>
    <key>goodMergeAdvanced</key>
    <string>HideValidateCompareWish</string>
    <key>decodeAgentGraveEntry</key>
    <string>BesideValidateSpring</string>
    <key>beginCompositeFilterIndex</key>
    <string>GrowingLoyalEncode</string>
    <key>victoriousStrengthManager</key>
    <string>ClearRunCalm</string>
    <key>toGiganticValidatorStrength</key>
    <string>CleanCleanSteam</string>
    <key>builderPointPassive</key>
    <string>HeightSweetExecute</string>
</dict>
</plist>
