<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>lawfulMethod</key>
    <string>StackToolHandsomeDelta</string>
    <key>facadeTorch</key>
    <string>DrawValleyType</string>
    <key>earnestLoader</key>
    <string>PoolHazeChain</string>
    <key>fitAmberDeserializer</key>
    <string>OffMakeTypeEndless</string>
</dict>
</plist>
