<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>baseMatchModern</key>
    <string>StructureSyncInCreek</string>
    <key>adapterFreshFocusedSave</key>
    <string>EnergeticViaSystematicCompact</string>
    <key>quintessentialRecordWorthCollection</key>
    <string>RestoreForDurableTarget</string>
    <key>managerProcessExtensionTrusty</key>
    <string>HandlerHavenCompare</string>
</dict>
</plist>
