<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>databaseGroupAttach</key>
    <string>RunCodecToDirectEncode</string>
    <key>sliceCacheQuickEngine</key>
    <string>VibrantLaneLockJovial</string>
    <key>ownerJourneyLiberal</key>
    <string>CacheThroughUp</string>
    <key>vibrantFacade</key>
    <string>ContextMacroBeginInformation</string>
    <key>stackWarmLogPrism</key>
    <string>InWithPhoenix</string>
</dict>
</plist>
