<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sleekDawnDataSourceResume</key>
    <string>CommandPearlWithRecord</string>
    <key>makeFont</key>
    <string>SerializerMarshGlacier</string>
    <key>mightInitializeExtensionNeutral</key>
    <string>MarkVocalHistory</string>
    <key>blitheModule</key>
    <string>ModelPreciousMapAmong</string>
</dict>
</plist>
