<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>managerBeside</key>
    <string>ComplexDeepRelease</string>
    <key>groupHavenStern</key>
    <string>JustFreshHistoryWithin</string>
    <key>loaderEncode</key>
    <string>SupplyMakeFair</string>
    <key>collectionNobleDetectExecute</key>
    <string>InDuskCentral</string>
    <key>withinVigorousDelegate</key>
    <string>ResilientSleekReadyResume</string>
    <key>enumIsletAccelerate</key>
    <string>OpenFloraProperRecord</string>
    <key>liberalRegisterWish</key>
    <string>SkilledInfiniteInGate</string>
</dict>
</plist>
