<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>royalExtract</key>
    <string>QuietLooseCache</string>
    <key>authenticDetectHelperUpgrade</key>
    <string>ForWithDownUtmost</string>
    <key>registerFairDetectArray</key>
    <string>IntuitiveAppendTransformableMemory</string>
    <key>closeHeroicSunny</key>
    <string>SaveEdgeVisitorInside</string>
    <key>engineLoadManage</key>
    <string>WanderNatural</string>
    <key>denseAlert</key>
    <string>RestoreSerializerBraveEngine</string>
    <key>openCreator</key>
    <string>OuterDirectStop</string>
    <key>launchReferenceAzure</key>
    <string>TypeWatchFormal</string>
</dict>
</plist>
