<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pastUnitFilterClear</key>
    <string>RecordAstuteAdapterBirch</string>
    <key>moduleAcceptNotableWing</key>
    <string>PoolWithUnder</string>
    <key>restoreMindFriendlyAgent</key>
    <string>BeginByFormal</string>
    <key>appendStateUrban</key>
    <string>ContinueAgentRecord</string>
</dict>
</plist>
