<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modelStrengthAmidBalanced</key>
    <string>TruthEndTarget</string>
    <key>groupPaintFaintSwift</key>
    <string>TameProtocolFill</string>
    <key>giftedVisitorStrengthBetween</key>
    <string>LoaderDecentTarget</string>
    <key>containerOffSerene</key>
    <string>SpringHandleQuiet</string>
</dict>
</plist>
