<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>alertBeforeTall</key>
    <string>JustSereneDeltaElement</string>
    <key>pushYield</key>
    <string>RareSleekCrystalAttach</string>
    <key>besideCompatibleInterpreterGigantic</key>
    <string>MobilePortalRemove</string>
    <key>directMoveCache</key>
    <string>TrackSolidPaint</string>
</dict>
</plist>
