<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ownerHideImprovedYard</key>
    <string>FilterAboveTrainYielding</string>
    <key>pixelHandlerWithout</key>
    <string>SageSendVine</string>
    <key>offDigital</key>
    <string>BindInvitingAppend</string>
</dict>
</plist>
