<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>uniqueHandler</key>
    <string>ToolDeltaProvisionEngineBegin</string>
    <key>enumRaven</key>
    <string>MoveToolSplashUnder</string>
    <key>guideBeyondReferenceLucky</key>
    <string>MerryGrandInsideWinsome</string>
    <key>joyfulReference</key>
    <string>MarkerReceiveLooseReady</string>
    <key>largeFactorySaveTurn</key>
    <string>DecoratorBaseVenture</string>
    <key>uponTower</key>
    <string>ToolSphereToward</string>
    <key>carefulVerify</key>
    <string>DropUponBirch</string>
    <key>zippyLaunchPoolStation</key>
    <string>FromManagerAdd</string>
    <key>mediatorMuseSyncAdvanced</key>
    <string>MovePassageTransit</string>
    <key>broadReport</key>
    <string>SyncStartWing</string>
</dict>
</plist>
