<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>extensionRunMedia</key>
    <string>StoreEasyLevel</string>
    <key>serializerManageWatchEthereal</key>
    <string>ThreatUntilHold</string>
    <key>zenithDiscreteExtensionVia</key>
    <string>AlongsideLimitStrategy</string>
    <key>arrayMerge</key>
    <string>GlobalYearPool</string>
    <key>coralInsideOver</key>
    <string>ListFilterFindBeyondPaint</string>
</dict>
</plist>
