<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>getCompatibleConsole</key>
    <string>InterpreterFontUmbra</string>
    <key>indexModelSearchOuter</key>
    <string>RusticDelicateSwirlStand</string>
    <key>sereneToolWithin</key>
    <string>EarnestProperStartResume</string>
    <key>vividFormatAdapter</key>
    <string>ThinNotableOrderGenerate</string>
    <key>skyDominant</key>
    <string>UnityOakenHoldStack</string>
    <key>heathVisitorGigantic</key>
    <string>MarkAtInsideRound</string>
    <key>defineIntimateSend</key>
    <string>VirtuousPauseInletList</string>
    <key>throughoutCreatorOverBrain</key>
    <string>SegmentCrispPrivateAdd</string>
    <key>instanceScrollMake</key>
    <string>LotusViaContainerPlush</string>
    <key>saverDark</key>
    <string>DeserializerDirectPaint</string>
</dict>
</plist>
