<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>waitHandyTool</key>
    <string>StrategyMindfulJunctionDecodeHumor</string>
    <key>poolFairAppend</key>
    <string>AbleSwirlHasty</string>
    <key>originDecorator</key>
    <string>LibraryCompare</string>
</dict>
</plist>
