<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mobileHost</key>
    <string>ClassFormatDrop</string>
    <key>headerHumanePoplar</key>
    <string>ViewBirchControllerPast</string>
    <key>deviceAuthentic</key>
    <string>StructureReferenceKite</string>
    <key>markQualityTransformableSegment</key>
    <string>DeserializerCrystalReady</string>
    <key>proxyTrack</key>
    <string>EndCollectionGet</string>
    <key>glacierProtocol</key>
    <string>AttachAgainst</string>
    <key>printThenMoorAmber</key>
    <string>SaveTargetEnd</string>
    <key>queueFast</key>
    <string>ResetReceiveStore</string>
</dict>
</plist>
