<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>focusAuthentic</key>
    <string>BetweenResumeMovePanelAlert</string>
    <key>volumeMediatorQuintessential</key>
    <string>DaintyLoaderAdapterClass</string>
    <key>ownerAmongHub</key>
    <string>ProcessProviderIntimate</string>
    <key>agentFormatHarmless</key>
    <string>CanyonPlaceTarget</string>
    <key>pleasantDispatcherInitialize</key>
    <string>RestoreObserverFilterEndSweet</string>
    <key>displayContainerComplex</key>
    <string>StreamStartPoolInside</string>
</dict>
</plist>
