<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>acuteManagerCompatibleClean</key>
    <string>EngineForCreateAssign</string>
    <key>typeEqualRequest</key>
    <string>FactoryFluentSaveIdlePiece</string>
    <key>acuteBundleExtensionOpen</key>
    <string>BambooDurable</string>
    <key>placeConnectPrivate</key>
    <string>HavenMark</string>
</dict>
</plist>
