<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>badgeExtraDecodeStrategy</key>
    <string>StandDisplayUnderHealthy</string>
    <key>placeEliteSaverUnder</key>
    <string>HandleSoftNatural</string>
    <key>betweenPortraitType</key>
    <string>DeliverPauseDeliverMixer</string>
    <key>networkValidatorAgainst</key>
    <string>DeserializerReferenceStartReturn</string>
    <key>mutualPack</key>
    <string>AlongIndexFilter</string>
</dict>
</plist>
