<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatterHandle</key>
    <string>ViableEtherealFirmLoad</string>
    <key>graveTransformableAzureEncode</key>
    <string>SessionBasinSparkElegant</string>
    <key>compareHolisticVirtuous</key>
    <string>LucentToneLake</string>
    <key>cacheGiftedHumor</key>
    <string>ContainerSerializerThenGentle</string>
    <key>kindredDuneSave</key>
    <string>ThroughoutWideDelegateBlithe</string>
    <key>dataSourceGet</key>
    <string>ElmOutsideManifestAppend</string>
    <key>entryClean</key>
    <string>PauseResumeEqualExtension</string>
    <key>lakeNeat</key>
    <string>SoftHumaneCompactMain</string>
    <key>mobileQuietAgentCancel</key>
    <string>DecodeBinaryAdapterBlock</string>
</dict>
</plist>
